.services-submenucon {
  width: 12rem;
  position: absolute;
  top: 60px;
  /* right: 850px; */
  list-style: none;
  text-align: start;
  z-index: 5;
  padding-bottom: 100px;
}
.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.services-submenucon li {
  background-color: rgb(163, 239, 57);
  color: white;
  cursor: pointer;
  padding-top: 5px;
}

.services-submenucon.clicked {
  display: none;
}

.submenucon-item {
  display: block;
  text-decoration: none;
  color: white;
  padding: 16px;
  font-size: 15px;
  width: 13rem;
}
.submenucon-item:hover {
  color: rgb(0, 0, 0);
}
.sidemunucontainer {
  height: auto;
  margin-top: 0px;
}
@media (max-width: 1000px) {
  .services-submenucon {
    width: 15rem;

    position: absolute;
    top: 215px;
    right: 10px;
    list-style: none;
    text-align: start;
  }
}
/* .services-submenucon {
  width: 15rem;
  position: absolute;
  top: 80px;
  right: 650px;
  list-style: none;
  text-align: start;
  z-index: 5;
}
.services-submenucon li {
  background-color: rgb(163, 239, 57);
  color: white;
  cursor: pointer;
  padding-top: 5px;
}

.services-submenucon.clicked {
  display: none;
}
@media (max-width: 1000px) {
  .services-submenucon {
    width: 15rem;

    position: absolute;
    top: 215px;
    right: 10px;
    list-style: none;
    text-align: start;
  }
}
@media (min-width: 1000.1px) and (max-width: 1050px) {
 
  .nav-items li {
    position: relative;  
    display: flex; 
    align-items: center; 
  }

  .services-submenucon {
    position: absolute;  
    top: 100%; 
    left: 0; 
  }
}
@media (min-width: 1050.1px) and (max-width: 1100px) {
  .services-submenucon {
    width: 15rem;
    position: absolute;
    top: 65px;
    right: 28%;
    list-style: none;
    text-align: start;
    z-index: 5;
  }
}
@media (min-width: 1100.1px) and (max-width: 1150px) {
  .services-submenucon {
    width: 15rem;
    position: absolute;
    top: 65px;
    right: 31%;
    list-style: none;
    text-align: start;
    z-index: 5;
  }
}
@media (min-width: 1150.1px) and (max-width: 1200px) {
  .services-submenucon {
    width: 15rem;
    position: absolute;
    top: 65px;
    right: 34%;
    list-style: none;
    text-align: start;
    z-index: 5;
  }
}
@media (min-width: 1200.1px) and (max-width: 1230px) {
  .services-submenucon {
    width: 15rem;
    position: absolute;
    top: 65px;
    right: 36%;
    list-style: none;
    text-align: start;
    z-index: 5;
  }
}
@media (min-width: 1230.1px) and (max-width: 1800px) {
  .services-submenucon {
    width: 15rem;
    position: absolute;
    top: 65px;
    right: 38%;
    list-style: none;
    text-align: start;
    z-index: 5;
  }
}
  */
