.ContactUscontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ContactUsimgcontainer {
  background-image: url("/src/asset/laptop2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 400px;
}
.ContactUsimgcontainer span {
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: 600;
  margin-top: 150px;
}
.contactussendmessagecontainer {
  display: flex;
  /* align-items: center; */
  margin-top: 30px;
  gap: 50px;
  margin-top: 50px;
}
.contactusinformation {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  width: 450px;
  text-align: left;
  line-height: 35px;
  gap: 20px;

  margin-bottom: 35px;
}
.contactusinformation div {
  display: flex;
  align-items: center;
}
.contactusinformation span {
  margin-left: 20px;
}
.contactusinformationicon {
  font-size: 33px;
}
.contactusinformation span {
  font-size: 19px;
}
.contactussendmessageform {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactussendmessageform span {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
.contactussendmessageform input {
  height: 45px;
}
.contactussendmessageform textarea {
  height: 230px;
}
.contactussendmessagenameinput {
  padding-left: 10px;
  width: 630px;
}

.contactussendmessagemessageinput {
  padding-left: 10px;
  width: 630px;
}
.contactussendmessageemailinput {
  padding-left: 10px;
  width: 630px;
}

.contactussendmessagebtn {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: black;
  color: white;
  font-size: 16px;
  border: none;
}
.contactussendmessagebtn:hover {
  transition: 0.3s;

  background-color: rgb(163, 239, 57);
}
.contactusmap {
  width: 400px;
  height: 400px;
}
@media (min-width: 1000px) and (max-width: 1250px) {
  .ContactUscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ContactUsimgcontainer {
    background-image: url("/src/asset/laptop2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 350px;
  }
  .ContactUsimgcontainer span {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 600;
    margin-top: 150px;
  }
  .contactussendmessagecontainer {
    display: flex;
    /* align-items: center; */
    margin-top: 30px;
    gap: 20px;
    margin-top: 50px;
  }
  .contactusinformation {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    width: 450px;
    text-align: left;
    line-height: 35px;
    gap: 20px;
    margin-left: 20px;
    margin-bottom: 35px;
  }
  .contactusinformation div {
    display: flex;
    align-items: center;
  }
  .contactusinformation span {
    margin-left: 20px;
  }
  .contactusinformationicon {
    font-size: 29px;
  }
  .contactusinformation span {
    font-size: 17px;
  }
  .contactussendmessageform {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contactussendmessageform span {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .contactussendmessageform input {
    height: 45px;
  }
  .contactussendmessageform textarea {
    height: 230px;
  }
  .contactussendmessagenameinput {
    padding-left: 10px;
    width: 450px;
  }

  .contactussendmessagemessageinput {
    padding-left: 10px;
    width: 450px;
  }
  .contactussendmessageemailinput {
    padding-left: 10px;
    width: 450px;
  }

  .contactussendmessagebtn {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 180px;
    height: 45px;
    border-radius: 25px;
    background-color: black;
    color: white;
    font-size: 15px;
    border: none;
  }
  .contactussendmessagebtn:hover {
    transition: 0.3s;

    background-color: rgb(163, 239, 57);
  }
  .contactusmap {
    width: 330px;
    height: 330px;
  }
}
@media (min-width: 800px) and (max-width: 999.9px) {
  .ContactUscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ContactUsimgcontainer {
    background-image: url("/src/asset/laptop2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 350px;
  }
  .ContactUsimgcontainer span {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 600;
    margin-top: 150px;
  }
  .contactussendmessagecontainer {
    display: flex;
    /* align-items: center; */
    margin-top: 30px;
    gap: 0px;
    margin-top: 50px;
  }
  .contactusinformation {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    width: 400px;
    text-align: left;
    line-height: 35px;
    gap: 20px;
    margin-left: 20px;
    margin-bottom: 35px;
  }
  .contactusinformation div {
    display: flex;
    align-items: center;
  }
  .contactusinformation span {
    margin-left: 20px;
  }
  .contactusinformationicon {
    font-size: 25px;
  }
  .contactusinformation span {
    font-size: 16px;
  }
  .contactussendmessageform {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
  }
  .contactussendmessageform span {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    width: 340px;
  }
  .contactussendmessageform input {
    height: 37px;
  }
  .contactussendmessageform textarea {
    height: 180px;
  }
  .contactussendmessagenameinput {
    padding-left: 10px;
    width: 330px;
  }

  .contactussendmessagemessageinput {
    padding-left: 10px;
    width: 330px;
  }
  .contactussendmessageemailinput {
    padding-left: 10px;
    width: 330px;
  }

  .contactussendmessagebtn {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 180px;
    height: 45px;
    border-radius: 25px;
    background-color: black;
    color: white;
    font-size: 15px;
    border: none;
  }
  .contactussendmessagebtn:hover {
    transition: 0.3s;

    background-color: rgb(163, 239, 57);
  }
  .contactusmap {
    width: 280px;
    height: 280px;
  }
}
@media (min-width: 640px) and (max-width: 799.9px) {
  .ContactUscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ContactUsimgcontainer {
    background-image: url("/src/asset/laptop2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 250px;
  }
  .ContactUsimgcontainer span {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
  }
  .contactussendmessagecontainer {
    display: flex;
    /* align-items: center; */
    margin-left: 20px;
    gap: 0px;
    margin-top: 50px;
  }
  .contactusinformation {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    width: 330px;
    text-align: left;
    line-height: 35px;
    gap: 10px;
    margin-left: 20px;
    margin-bottom: 35px;
  }
  .contactusinformation div {
    display: flex;
    align-items: center;
  }
  .contactusinformation span {
    margin-left: 20px;
  }
  .contactusinformationicon {
    font-size: 25px;
  }
  .contactusinformation span {
    font-size: 16px;
  }
  .contactussendmessageform {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
  }
  .contactussendmessageform span {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    width: 280px;
  }
  .contactussendmessageform input {
    height: 37px;
  }
  .contactussendmessageform textarea {
    height: 180px;
  }
  .contactussendmessagenameinput {
    padding-left: 10px;
    width: 250px;
  }

  .contactussendmessagemessageinput {
    padding-left: 10px;
    width: 250px;
  }
  .contactussendmessageemailinput {
    padding-left: 10px;
    width: 250px;
  }

  .contactussendmessagebtn {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 160px;
    height: 40px;
    border-radius: 25px;
    background-color: black;
    color: white;
    font-size: 14px;
    border: none;
  }
  .contactussendmessagebtn:hover {
    transition: 0.3s;

    background-color: rgb(163, 239, 57);
  }
  .contactusmap {
    width: 280px;
    height: 280px;
  }
}
@media (max-width: 639.9px) {
  .ContactUscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ContactUsimgcontainer {
    background-image: url("/src/asset/laptop2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 200px;
  }
  .ContactUsimgcontainer span {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 600;
    margin-top: 80px;
  }
  .contactussendmessagecontainer {
    display: flex;
    flex-direction: column-reverse;
    /* align-items: center; */
    margin-left: 20px;
    gap: 0px;
    margin-top: 50px;
  }
  .contactusinformation {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    width: 330px;
    text-align: left;
    line-height: 35px;
    gap: 10px;
    margin-left: 20px;
    margin-bottom: 35px;
  }
  .contactusinformation div {
    display: flex;
    align-items: center;
  }
  .contactusinformation span {
    margin-left: 20px;
  }
  .contactusinformationicon {
    font-size: 25px;
  }
  .contactusinformation span {
    font-size: 16px;
  }
  .contactussendmessageform {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
  }
  .contactussendmessageform span {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    width: 280px;
  }
  .contactussendmessageform input {
    height: 37px;
  }
  .contactussendmessageform textarea {
    height: 180px;
  }
  .contactussendmessagenameinput {
    padding-left: 10px;
    width: 250px;
  }

  .contactussendmessagemessageinput {
    padding-left: 10px;
    width: 250px;
  }
  .contactussendmessageemailinput {
    padding-left: 10px;
    width: 250px;
  }

  .contactussendmessagebtn {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 160px;
    height: 40px;
    border-radius: 25px;
    background-color: black;
    color: white;
    font-size: 14px;
    border: none;
  }
  .contactussendmessagebtn:hover {
    transition: 0.3s;

    background-color: rgb(163, 239, 57);
  }
  .contactusmap {
    width: 280px;
    height: 280px;
  }
}
